* {
    font-family: "Verdana";
    margin-left: 1em;
    margin-right: 1em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

a, a:visited, a:hover, a:active, h1, h2 {
    text-align: center;
}

.short {
    margin-left: 35%;
    margin-right: 35%;
}